.about-block {
    h2 {
        color: #1A2E35;
        text-transform: uppercase;
        margin: 90px 0;
    }  
    p {
        color: #375A64;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 25px;
    }  
}
