.about-sotrudniki-block {
    h2{
        text-transform: uppercase;
        font-family: 'Ubuntu-Medium';
        font-size: 24px;
        margin: 90px 0;
    }
    .picture {
        background: url('../../img/about-sotrudniki/back.png');
        margin-bottom: 90px;
        p {
            margin: 40px 0 0 0;
            font-family: 'Ubuntu-Light';
            font-size: 18px;
            line-height: 36px;
            color: #fff;
        }
        p:first-child {
            margin-top: 80px;
        }
        .who {
            font-size: 14px;
            margin: 310px 0 80px 0;
            span {
                font-family: 'Ubuntu-Medium';
            }
        } 
    }
}
