.bluemap-block-all {
    position: relative;
    background-color: #0d47a1;

    img {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .map-point {
        position: absolute;
        cursor: pointer;
    }

    .point-usa {
        top: 48%;
        left: 30%;
        width: 65px;
        height: 30px;
        background: url('../img/bluemap-block/markerusa.png') center center no-repeat;
    }
    .point-belarus {
        top: 34.3%;
        left: 52%;
        width: 55px;
        height: 65px;
        background: url('../img/bluemap-block/marker-white.png') center center no-repeat;
    }
    .point-germany {
        top: 41.5%;
        left: 44.3%;
        width: 95px;
        height: 30px;
        background: url('../img/bluemap-block/markerger.png') center center no-repeat;
    }
    .point-russia {
        top: 39%;
        left: 58%;
        width: 80px;
        height: 30px;
        background: url('../img/bluemap-block/markerrus.png') center center no-repeat;
    }
    .point-india {
        top: 56%;
        left: 60.5%;
        width: 80px;
        height: 33px;
        background: url('../img/bluemap-block/markerind.png') center center no-repeat;
    }
    .point-china {
        top: 52%;
        left: 72.5%;
        width: 80px;
        height: 30px;
        background: url('../img/bluemap-block/markerchin.png') center center no-repeat;
    }
}

.bluemap-block {
    color: #fff;
}
.bg-map {
    width: 100%;
}
.map-head {
    position: absolute;
    top: 60px;
    max-width: 1140px;
    width: 100%;
    h2 {
        font-size: 24px;
        margin-left: 0;
        padding: 0;
        width: 50%;
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
        @media screen and (max-width: 320px) {
            font-size: 16px;
            top: -20px;
            width: 100%;
        }
    }
    .partners {
        margin-top: 25px;
        float: right;
        right: 0;
        padding: 0;
        width: 20%;
        img {
            margin-right: 20px;
        }
        @media screen and (max-width: 320px) {
            font-size: 14px;
            width: 100%;
            margin-top: -10px;
        }
    }
}
