.mmm {
    padding: 0;
    position: relative;
}

.mapmap {
    height: 500px;
}

.map-card {
    width: 280px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    right: 150px;
    border: 1px solid #c6c1ae;
    padding: 20px 40px;
    border-radius: 5px;
}
.nonnnne {
    width: 41px;
    height: 14px;
}
