.main-menu {
    position: fixed;
    width: 100%;
    top: 0;
    color: #fff;
    padding-top: 60px;
    transition: all .2s ease-out;
    z-index: 100;

    .cont{
        width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .menu-logo{
        display: flex;
        padding: 0;

        .img{
            width: 50px;
            height: 50px;
            background-image: url('../img/main/menu-block/log.png');
            background-position: -5px -5px;
            margin-right: 40px;
        }

        &-text {
            font-family: 'Ubuntu-Light';
            position: relative;
            top: -4px;

            .medium {
                font-family: 'Ubuntu-Medium';
                font-size: 24px;
                margin-bottom: 0;
            }

            .not-margin {
                margin-bottom: 0;
            }
        }
    }

    .menu-menu li {
        display: inline-block;
        margin: 0 10px;

        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            color: #0d47a1;
        }
    }

    .menu-lang {
        text-align: right;
    }
}

.main-menu-scroll {
    color: #0d47a1;
    background-color: #fff;
    padding: 23px 0;
    border-bottom: 1px solid #bdcad4;

    .menu-logo .img {
        background-position: -65px -5px;
    }

    .menu-menu li a {
        color: #0d47a1;
    }
}

.wrapper {
    color: #fff;
    // background-image: url('../img/main/menu-block/bg.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .main__video {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background-size: 100% 100%;
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        z-index: -999;
    }
}

.menu-block-button {
    position: fixed;
    z-index: 100;
    bottom: 190px;
    transition: all .2s ease-out;
}
.menu-block-button-scroll {
    bottom: 90px;
}

.menu-block-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    }

.info-icon {
    padding-right: 27px;
}

.footer-adress {
    text-align: right;

    .light {
        font-family: 'Ubuntu-Light';
    }
}
