.napravlenie3-block{
	.title-row{
		padding-top: 90px;
		padding-bottom: 60px;
		.title{
			font-size: 26px;
			color: #00B3F9;
		}
	}
	.block-3{
		.title-row{
			padding-bottom: 40px;
		}
		padding-top: 0px;
		.name{
			font-size: 26px;
			color: #00B3F9;
		}
		.name-row{
			min-height: 100px;
		}
	}
}