.people-bg {
	background-image: url('../img/background.png');
	background-size: cover;
}

.people-info {
	padding: 90px 0 458px;

	.people-number {
		text-align: center;
		font-family: 'Ubuntu-Bold';
		color:#3350B9;

		.number {
			font-size: 46px;
		}

		.name {
			text-transform: uppercase;
			padding-top: 10px;
		}
	}
}

.people-button {
	padding-bottom: 85px;
}



// .people-block{
// 	position: relative;
// }
// .people-block .background{
// 	position: absolute;
// 	display: inline-block;
// }
// .people-block .background img{
// 	width: 1140px;
// }
// .people-block .people-column{
// 	padding-top: 80px;
// }
// .people-block .people-column .name{
// 	padding-top: 25px;
// }
// .people-block .number{
// 	font-weight: bold;
// 	font-size: 46px;
// 	color:#3350B9;
// }
// .people-block .name{
// 	text-transform: uppercase;
// 	font-weight: bold;
// 	font-size: 14px;
// 	color:#3350B9;
// }
// .people-block .people-button{
// 	padding: 0;
// 	padding-top: 450px;
// 	margin-bottom: 40px;
// }
