.sfers-block div{
	//border: 2px solid red;
	padding: 0;

}
.sfers-block .sfers-title{
	padding-top: 40px;
	padding-bottom: 90px;
	font-size:24px;
	text-transform: uppercase;
}
.sfers-block .sfers-item{
	height: 30px;
	padding-bottom: 60px;
	//border: 1px solid red;
}
