.uslugi3-block{
	.title{
		font-size: 22px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.title-row,.name-row,.picture-row{
		padding-bottom: 70px;
	}
	.name-row{
		color: #0066D0;
	}
	.img-left{
		min-height: 120px;
	}
	.arrow-row{
		padding-top: 40px;
	}
	.to-row{
		padding-top: 30px;
	}
}