section.container-fluid.bluemap-block-all
  img(src="img/bluemap-block/map_c.png").bg-map
  div.map-point.point-belarus.invisible
  div.map-point.point-usa.invisible
  div.map-point.point-germany.invisible
  div.map-point.point-russia.invisible
  div.map-point.point-india.invisible
  div.map-point.point-china.invisible
  //- section.container
  //-   section.bluemap-block
  //-     div.map-head
  //-         h2.col-lg-8.col-md-8.col-xs-12 Работаем уже в <span>158 странах мира</span>
  //-         div.partners.col-lg-4.col-md-4.col-xs-12
  //-           p
  //-               <img src="img/bluemap-block/marker.png"> &mdash; Наши агенты-партнеры
