mixin feed(data)
  img(src="../../img/images/" + data.file alt=alt class!=attributes.class)

section.container
  section.feedback-block.info-block
    h2 Отзывы
    .feedback
      each data in [{file:'feedback.png'},{file:'feedback.png'},{file:'feedback.png'},{file:'feedback.png'},{file:'feedback.png'},{file:'feedback.png'}]
        +feed(data)
