section.main-menu#main-menu
  .row.cont
    div.menu-logo.col-md-4
      div.img
      div.menu-logo-text
        p.medium ТВ Логистик
        p.not-margin Ваш надежный партнер!
    ul.menu-menu.col-md-7
      each text in [{page:'Главная',src:'/'},{page:'Направления',src:'/directions'},{page:'Услуги',src:'/services'},{page:'О нас',src:'/about'},{page:'Вакансии',src:'/vacancies'},{page:'Онлайн-сервисы',src:'/online'},{page:'Контакты',src:'/contacts'}]
        li
          a(href=text.src)= text.page
    div.menu-lang.col-md-1
      p en
