section.container-fluid.mmm
  div#map.mapmap
  section.map-card
    p
      span.glyphicon.glyphicon-earphone.menu-block-info-icon
      | +375 (17) 218 33 26
    p
      span.glyphicon.glyphicon-envelope.menu-block-info-icon
      | info@tvlogistic.by 
    p
      span.glyphicon.glyphicon-map-marker.menu-block-info-icon
      | 220007 <br>
      span.glyphicon.block-info-icon.nonnnne
      | Республика Беларусь
    p
      span.glyphicon.block-info-icon.nonnnne
      | г. Минск <br>
      span.glyphicon.block-info-icon.nonnnne
      | ул. Фабрициуса,8Б <br>
      span.glyphicon.block-info-icon.nonnnne
      | корп. 1, пом. 2, каб. 42
    button.btnm(type="button")
      span НАПИСАТЬ НАМ
