section.container-fluid.wrapper
  video.main__video(id="video" loop autoplay="autoplay")
    source(src="./video/hands_converted.mp4")
    source(src="./video/webm/hands_converted.webm" type="video/webm")
  section.container
    section.menu-block-button#main-button
      button.btnm(type="button" data-toggle="modal" data-target="#myModal")
        span ЗАПРОС НА <br/> ПЕРЕВОЗКУ ГРУЗА
    section.menu-block-footer
      section.footer-info
        p
          span.glyphicon.glyphicon-earphone.info-icon
          | +375 (17) 218 33 26
        p
          span.glyphicon.glyphicon-envelope.info-icon
          | info@tvlogistic.by 
      section.footer-adress
        p.light ООО «ТВ Логистик»
        p 
          span.glyphicon.glyphicon-map-marker.info-icon
          | Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
