section.main-menu#main-menu
  .row.cont
    div.menu-logo.col-md-4
      div.img
      div.menu-logo-text
        p.medium ТВ Логистик
        p Ваш надежный партнер!
    ul.menu-menu.col-md-7
      each text in ['Главная','Направления','Услуги','О нас','Вакансии','Онлайн-сервисы','Контакты']
        li
          a(href="#")= text
    div.menu-lang.col-md-1
      p en
        
section.container-fluid.wrapper
  section.container
    section.menu-block-button
      button.btnm(type="button")
        span ЗАПРОС НА <br/> ПЕРЕВОЗКУ ГРУЗА
    section.menu-block-footer
      section.footer-info
        p
          span.glyphicon.glyphicon-earphone.info-icon
          | +375 (17) 218 33 26
        p
          span.glyphicon.glyphicon-envelope.info-icon
          | info@tvlogistic.by 
      section.footer-adress
        p.light ООО «ТВ Логистик»
        p 
          span.glyphicon.glyphicon-map-marker.info-icon
          | Республика Беларусь, Минск ул. Фабрициуса, 8Б, корп.1, пом.2, каб.42
