section.people-block
	section.row.bg-image
	section.row.content-people
		section.col-md-3.names
			div.col-md-12.text-container
				span.number 4
				br
				span.text отдела
			
		section.col-md-3.names
			div.col-md-12.text-container
				span.number 20+
				br
				span.text профессионалов
			
		section.col-md-3.names
			div.col-md-12.text-container
				span.number 7
				br
				span.text лет вместе
		
		section.col-md-3.names
			div.col-md-12.text-container
				span.number 150
				br
				span.text тысяч тонн в месяц
				br
				//button(id="about") о нашей команде
			a.waves-effect.waves-light.btn#about 
				div.col-md-12
					span.button-name о нашей команде
		