section.people-block
	div.row.background
		div.col-md-12.background
			img(src='../../img/background.png')
	div.row.info
		.col-md-3.people-column
			div.col-md-12
				div.number.text-center 4
				div.name.text-center отдела
		.col-md-3.people-column
			div.col-md-12
				div.number.text-center 20+
				div.name.text-center профессионалов
		.col-md-3.people-column
			div.col-md-12
				div.number.text-center 7
				div.name.text-center лет вместе
		.col-md-3.people-column
			div.col-md-12
				div.number.text-center 150
				div.name.text-center тысяч тонн в месяц
				div.col-md-12.people-button
					button(type="button").btn.btn-primary.btn-lg.btn-block о нашей компании
	