mixin numbers(data)
	.col-md-3.people-number
		p.number= data.number
		p.name= data.name
		
		
section.container-fluid.people-bg
	section.container
		section.people-block
			div.row.people-info
				each data in [{number:'4',name:'отдела'},{number:'4',name:'отдела'},{number:'4',name:'отдела'},{number:'4',name:'отдела'}]
					+numbers(data)
			div.row.people-button
				.col-md-offset-9.col-md-3
					button.btnm(type="button")
						span О НАШЕЙ КОМАНДЕ
					
//- section.container-fluid.people-bg
//- 	section.container
//- 		section.people-block
//- 			div.row.info
//- 				.col-md-3.people-column
//- 					div.number.text-center 4
//- 					div.name.text-center отдела
//- 				.col-md-3.people-column
//- 					div.number.text-center 20+
//- 					div.name.text-center профессионалов
//- 				.col-md-3.people-column
//- 					div.number.text-center 7
//- 					div.name.text-center лет вместе
//- 				.col-md-3.people-column
//- 					div.number.text-center 150
//- 					div.name.text-center тысяч тонн в месяц
//- 					div.col-md-12.people-button
//- 						button.btnm(type="button")
//- 							span О НАШЕЙ КОМАНДЕ
	
