mixin service(data)
	div.col-md-2.service-card
		img(src= data.src)
		p.name= data.name
		p.descript= data.descript

section.container-fluid
	section.service-block
		div.row
			each data in [{src: 'img/1.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/2.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/3.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/4.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/5.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/6.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '}]
				+service(data)
				


		
