mixin service-geography-column(item)
	div.col-md-4
		div.row.name-row
			span.name=item.name
		div.row
			div.col-md-5.from-row
				div.row
					img.img-left(src='img/uslugi/usl-world/'+item.src+'.png')
			div.col-md-3.arrow-row
				img.img-arrow(src='img/uslugi/usl-world/arrow.png')
			div.col-md-4.to-row
				img.img-right(src='img/uslugi/usl-world/belorussia.png')


div.container
	section.service-geography-block.info-block
		h2 Наша география
		div.row.picture-row
			+service-geography-column({src:'1',name:'Из Юго-Восточной Азии'})
			+service-geography-column({src:'2',name:'Из Европы в Беларусь'})
			+service-geography-column({src:'3',name:'Из США в Беларусь'})
		div.row.info-row
			span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam tellus non justo elementum, ac venenatis mi malesuada. Donec venenatis tincidunt pharetra. Vivamus pretium dui ante, imperdiet tincidunt ipsum molestie vel. Fusce nulla mi, gravida et venenatis a, condimentum sed urna. Nulla facilisi. 
			br
			br
			span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam tellus non justo elementum
