mixin service-transportations(data)
	div.col-md-2.service-transportations-card
		img(src= data.src)
		p.name!= data.name
		p.descript= data.descript

section.container-fluid
	section.service-transportations-block
		div.row
			each data in [{src: 'img/main/service/1.png',name:'автомобильные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/main/service/2.png',name:'железнодорожные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/main/service/3.png',name:'авиа <br/> перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/main/service/1.png',name:'морские <br/> перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/main/service/2.png',name:'мультимодальные перевозки',descript:'Most designers set their type arbitrarily, either by pulling values out '},{src: 'img/main/service/3.png',name:'сборные <br/> грузы',descript:'Most designers set their type arbitrarily, either by pulling values out '}]
				+service-transportations(data)
				
//- section.container
//- 	section.service-block
//- 		div.row
//- 			for i,j in {1:['../../img/service-img-1.png','автомобильные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],2:['../../img/service-img-2.png','железнодорожные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],3:['../../img/service-img-3.png','авиа перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],4:['../../img/service-img-4.png','морские перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],5:['../../img/service-img-5.png','мультимодальные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],6:['../../img/service-img-6.png','сборные грузы','Lorem ipsum dolor sit amet, consectetur adipiscing elit.']}
//- 				div.col-md-2.lool
//- 					div.col-md-12.item1
//- 						img(src=i[0])
//- 				
//- 		div.row
//- 			for i,j in {1:['../../img/service-img-1.png','автомобильные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],2:['../../img/service-img-2.png','железнодорожные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],3:['../../img/service-img-3.png','авиа перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],4:['../../img/service-img-4.png','морские перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],5:['../../img/service-img-5.png','мультимодальные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],6:['../../img/service-img-6.png','сборные грузы','Lorem ipsum dolor sit amet, consectetur adipiscing elit.']}
//- 				div.col-md-2.lool
//- 					div.col-md-12.item2
//- 						span.name=i[1]
//- 					
//- 		div.row
//- 			for i,j in {1:['../../img/service-img-1.png','автомобильные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],2:['../../img/service-img-2.png','железнодорожные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],3:['../../img/service-img-3.png','авиа перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],4:['../../img/service-img-4.png','морские перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],5:['../../img/service-img-5.png','мультимодальные перевозки','Lorem ipsum dolor sit amet, consectetur adipiscing elit.'],6:['../../img/service-img-6.png','сборные грузы','Lorem ipsum dolor sit amet, consectetur adipiscing elit.']}
//- 				div.col-md-2.lool
//- 					div.col-md-12.item3
//- 						span.descript=i[2]

		
