mixin uslugi4Item(item)
	div.row.item-row
		div.col-md-12
			div.row
				div.col-md-4
					img(src='img/uslugi4/'+item.src+'.png')
				div.col-md-8
					span.name=item.name

mixin uslugi4List(list)
		div.col-md-6
			each item in list
				+uslugi4Item(item)



div.container
	section.uslugi4-block
		div.row.title-row
			div.col-md-12
				span.title виды грузов
		div.row
			+uslugi4List([{src:'1',name:'почта,документы и корреспонденция'},{src:'2',name:'малогабаритные грузы'},{src:'3',name:'сыпучие и навалочные товары'},{src:'4',name:'температурные и скоропортящиеся грузы'}])
			+uslugi4List([{src:'5',name:'почта,документы и корреспонденция'},{src:'6',name:'малогабаритные грузы'},{src:'7',name:'сыпучие и навалочные товары'},{src:'8',name:'температурные и скоропортящиеся грузы'}])
		